/* --- Primary Font: Roboto --- */
/* --- Secondary Font: Galada --- */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-size-micro: 8px;
    --font-size-p-super-small: 12px;
    --font-size-p-small: 14px;
    --font-size-p: 16px;
    --font-size-h6: 20px;
    --font-size-h5: 24px;
    --font-size-h4: 28px;
    --font-size-h3: 36px;
    --font-size-h2: 52px;
    --font-size-h1: 68px;
    --font-size-big: 80px;
    
    --main-font: 'Roboto', sans-serif;
    --secondary-font: "Lora", serif;
}

.secondary-font {
    font-family: var(--secondary-font);
}

.main-font {
    font-family: var(--main-font);
}

.title-font {
    font-family: var(--title-font);
}


.size-p-micro {
    font-size: var(--font-size-micro);
}
.size-p-super-small {
    font-size: var(--font-size-p-super-small);
}
.size-p-small {
    font-size: var(--font-size-p-small);
}
.size-p, p {
    font-size: var(--font-size-p);
}
.size-h6, h6 {
    font-size: var(--font-size-h6);
}
.size-h5, h5 {
    font-size: var(--font-size-h5);
}
.size-h4, h4 {
    font-size: var(--font-size-h4);
}
.size-h3, h3 {
    font-size: var(--font-size-h3);
}
.size-h2, h2 {
    font-size: var(--font-size-h2);
}
.size-h1, h1 {
    font-size: var(--font-size-h1);
}
.size-big {
    font-size: var(--font-size-big);
}
