* {
    --page-background: var(--white);
    --page-vertical-padding: 32px;
    --page-horizontal-padding: 60px;
    --page-padding: var(--page-vertical-padding) var(--page-horizontal-padding);
    --page-start-margin: calc(114px - var(--page-vertical-padding) / 2);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--black);
}

body {
    position: relative;
    width: 100vw;
    background: var(--page-background);
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

section:last-of-type .section-container {
    padding-bottom: calc(var(--page-section-gap) * 3);
}

.bold {
    font-weight: 700;
}
.italic {
    font-style: oblique;
}
.wrap {
    overflow-wrap: break-word;
}
.no-bold {
    font-weight: 400;
}

.section-container {
    --page-section-gap: 60px;
    --section-container-gap: 48px;
    display: flex;
    flex-direction: column;
    gap: var(--section-container-gap);
    padding: 0 var(--page-horizontal-padding);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--page-section-gap);
}

.section-container.first-section {
    padding-top: var(--page-start-margin);
    margin-top: 0;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.section-header .separator {
    width: 48px;
    height: 2px;
    background: var(--primary-color-light);
}

button.show-more-list {
    background: var(--primary-color-light);
    border: none;
    width: max-content;
    color: var(--white);
    font-size: var(--font-size-p);
    padding: 12px 16px;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.25s;
    margin-top: 40px;
}
button.show-more-list:hover {
    background: var(--primary-color-medium);
} 



#page-header {
    background: var(--page-background);
    max-width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--neutral-gray-light);
    z-index: 999;
}

#page-header #page-header-container {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
}

#page-header #logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

#page-header #logo-container {
    width: var(--font-size-h2);
    height: var(--font-size-h2);
    border-radius: 12px;
}

#page-header #logo-text {
    font-weight: 400;
    color: var(--primary-color-medium);
}

#page-header #logo-container img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}

#page-header #navlinks {
    display: flex;
    align-items: center;
}

#page-header #navlinks ul {
    display: flex;
    align-items: center;
    gap: 36px;
}

#page-header #navlinks ul a {
    text-decoration: none;
}

#page-header .navlink {
    list-style: none;
    color: var(--neutral-gray-dark);
}
#page-header .navlink.current {
    color: var(--primary-color-medium);
}

#page-header #mobile-page-header-dropdown {
    display: none;
}




.page-banner {
    --banner-gradient: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
    position: relative;
    background-image: var(--banner-gradient), url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 500px;
    max-height: 60vh;
    text-align: center;
}
.page-banner-text > * {
    text-align: center;
}
.page-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.page-banner-text h6 {
    font-weight: 400;
}
.page-banner .section-container,
.page-banner .section-container > *,
.page-banner .page-banner-text > * {
    background: transparent;
    color: var(--white);
}





#mods-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--section-container-gap);
}
#mods-list-container #mods-search {
    position: relative;
    width: max-content;
    height: max-content;
} 
#mods-list-container #mods-search i {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: var(--font-size-h6);
    color: var(--neutral-gray-dark);
}
#mods-list-container #mods-search #searchMods {
    padding: 4px 12px;
    padding-left: 32px;
    width: 320px;
    font-size: var(--font-size-h6);
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}


#mods-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

#mods-list .mod {
    --border-radius: 12px;
    --mod-content-gap: 12px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius);
    background: var(--page-background);
    cursor: default;
}
#mods-list .mod-image {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    width: 100%;
    height: 220px;
    overflow: hidden;
}
#mods-list .mod-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
#mods-list .mod-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: var(--mod-content-gap);
}
#mods-list .mod-title {
    cursor: pointer;
}
#mods-list .mod-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
#mods-list .mod-tags .tag {
    background: var(--white-dark);
    padding: 4px;
    border-radius: 4px;
}
#mods-list .mod-tags p {
    font-size: var(--font-size-p-small);
    color: var(--neutral-gray-dark);
}
#mods-list .mod .publish-info {
    display: flex;
    gap: 8px;
    align-items: center;
}
#mods-list .mod .publish-info > * {
    font-size: var(--font-size-p-small);
    color: var(--neutral-gray);
}
#mods-list .mod .publish-info .separator {
    width: 1px;
    height: var(--font-size-p-small);
    background: var(--neutral-gray);
}
#mods-list .mod .publish-info i {
    color: var(--neutral-gray);
}
#mods-list .mod .mod-update-date-container {
    /* border-top: 1px solid var(--neutral-gray-light); */
    padding: var(--mod-content-gap);
    padding-top: 8px;
    margin-top: auto;
}
#mods-list .mod .mod-update-date-container p,
#mods-list .mod .mod-update-date-container p span {
    font-size: var(--font-size-p-small);
    color: var(--neutral-gray);
}


footer {
    background: var(--white-dark);
    position: relative;
    cursor: default;
}

.section-container.footer {
    padding: calc(var(--page-vertical-padding)) var(--page-horizontal-padding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.footer-logo > * {
    font-weight: 400;
    color: var(--neutral-gray);
}
.footer-logo p {
    font-size: var(--font-size-p-super-small);
    margin-bottom: -4px;
    color: var(--neutral-gray-light);
}

#page-footer .footer-pages {
    display: flex;
    justify-content: space-between;
}

#page-footer #navlinks-footer {
    margin: 0 auto;
}

#page-footer #navlinks-footer ul {
    display: flex;
    align-items: center;
    gap: 36px;
}

#page-footer #navlinks-footer ul a {
    text-decoration: none;
}

#page-footer #navlinks-footer .navlink {
    list-style: none;
    color: var(--neutral-gray);
    cursor: pointer;
}


#page-footer .socials-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
}

#page-footer .social-button {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    fill: var(--neutral-gray);
    transition: 0.25s;
}
#page-footer .social-button:hover {
    fill: var(--neutral-gray-dark);
}
#page-footer .social-button.youtube {
    margin-top: 4px;
}



@media screen and (max-width: 1000px) {
    #mods-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 696px) {
    * {
        --page-horizontal-padding: 32px;
    }

    #page-header #page-header-container {
        padding: 16px 32px;
    }
}

@media screen and (max-width: 640px) {
    #mods-list-container {
        margin: 0 auto;
        max-width: 400px;
    }
    #mods-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width: 756px) {
    .section-container.footer {
        padding: calc(var(--page-vertical-padding)) var(--page-horizontal-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #page-footer #navlinks-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media screen and (max-width: 610px) {
    #page-header #navlinks {
        position: absolute;
        top: calc(100% - 4px);
        left: 0;
        background: var(--page-background);
        width: 100%;
        margin: 0 auto;
        animation: 0.25s;
        height: 0;
        visibility: hidden;
        border-bottom: none;
    }
    #page-header #navlinks ul {
        margin: 0 auto;
        flex-direction: column;
        gap: 16px;
        padding: 24px;
    }
    #page-header #navlinks ul li {
        padding: 8px 0;
    }
    #page-header #mobile-page-header-dropdown {
        display: block;
        align-self: center; 
        cursor: pointer;
    }
    #page-header #mobile-page-header-dropdown > * {
        color: var(--neutral-gray-dark);
    }
    #page-header #mobile-page-header-dropdown .dropdown-arrow {
        margin-left: 8px;
    }

    #page-header.navopened #navlinks {
        height: auto;
        visibility: visible;
        border-bottom: 1px solid var(--neutral-gray-light);
    }
    #page-header.navopened #navlinks ul,
    #page-header.navopened #navlinks ul a {
        width: 100%;
        text-align: center;
    }
    #page-header.navopened #mobile-page-header-dropdown .dropdown-arrow {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 484px) {
    #page-header #page-header-container {
        padding: 16px 24px;
    }

    #mods-list-container #mods-search {
        width: 100%;
    } 
    #mods-list-container #mods-search i {
        font-size: var(--font-size-p);
    }
    #mods-list-container #mods-search #searchMods {
        width: 100%;
        max-width: 320px;
        font-size: var(--font-size-p);
    }


    .section-container .section-title {
        font-size: var(--font-size-h4);
    }
    .page-banner .page-banner-text {
        gap: 12px;
    }
    .page-banner h2 {
        font-size: var(--font-size-h3);
    }
    .page-banner h6 {
        font-size: var(--font-size-p);
    }
}

@media screen and (max-width: 420px) {
    #page-header #logo-text {
        font-size: var(--font-size-h4);
    }
    #page-header #logo-container {
        width: var(--font-size-h3);
        height: var(--font-size-h3);
    }
}

@media screen and (max-width: 350px) {
    #page-header #page-header-container {
        padding: 16px 16px;
    }
    #mods-list .mod-image {
        height: 180px;
    }
    #mods-list .mod-title {
        font-size: var(--font-size-h6);
    }
    #mods-list .mod-tags .tag p,
    #mods-list .mod .publish-info > *,
    #mods-list .mod .mod-update-date-container p,
    #mods-list .mod .mod-update-date-container p span {
        font-size: var(--font-size-p-super-small);
    }
}