/* ------------------------------------ Comment Copy and paste ------------------------------------ */

/* -------------------- Add Section -------------------- */

/* --------------------                    -------------------- */
/* -------------------- Add page (__.html) -------------------- */
/* --------------------                    -------------------- */

/* ------------------------------------------------------------------------------------------------ */


/* -------------------- General Styles -------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}
a.button {
    display: inline-block;
    color: white;
    padding: 0.8em;
    border-radius: 3px;
    transition: 0.2s;
}

li {
    list-style: none;
}

.section-container {
    width: 1100px;
    margin: 0 auto;
}

.section-title {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}
.section-title .title{
    font-family: 'Galada', cursive;
    position: relative;
}
.section-title .title::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: var(--primary-color-5);
    top: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}
.section-title .description {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    color: var(--neutral-5);
}

.light-primary {
    color: var(--primary-color-7);
}


/* -------------------- Header -------------------- */
header {
    position: fixed;
    width: 100vw;
    height: 75px;
    background: var(--neutral-1);
    z-index: 999;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100%;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    color: var(--primary-color-6);
    cursor: default;
}

nav ul {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}
.navlink {
    position: relative;
}
.navlink::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;
}
.navlink.current-page::before {
    background: var(--neutral-2);
    border-bottom: 3px solid var(--primary-color-6);
}
.navlink:hover::before {
    background: var(--neutral-2);
}
.navlink li {
    display: block;
    height: 75px;
    line-height: 75px;
    padding: 0 1.2em;
    color: white;
    font-family: 'Galada', cursive;
}

.header-buttons {
    display: flex;
    align-items: center;
}
.header-buttons .button {
    background: var(--primary-color-5);
    margin-right: 1.5em;
}
.header-buttons .button:hover {
    background: var(--primary-color-4);
}

.header-buttons .login {
    padding: 0.8em 1em;
    color: white;
}
.header-buttons i {
    margin-right: 5px;
}

/* -------------------- Breadcrumb -------------------- */
#breadcrumb {
    width: 100%;
    height: 400px;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
#breadcrumb::before {
    position: absolute;
    content: '';
    background-position: center;
    background-size: cover;
    z-index: -999;
    width: 100%;
    height: 100%;
}
.breadcrumb-container {
    margin: 0 auto;
    padding-top: 170px;
    width: 500px;
    color: white;
    text-align: center;
}


/* -------------------- General Recipe Card Styles -------------------- */
.recipes-category .section-container {
    position: relative;
}
@media (min-width: 1200px) {
    .recipes-category {
        --recipe-width: 465px;
        --recipe-width-number: 465;

        --recipes-gap-number: 30;
        --recipes-gap: 30px;
    }
}
.featured-recipes-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.recipes-list {
    display: flex;
    gap: var(--recipes-gap);
    padding: 20px;
    justify-content: space-evenly;
}
.recipe .button.view-recipe {
    color: black;
}
.recipe-title {
    font-family: 'Galada', cursive;
    line-height: 1.2;
    margin-bottom: 10px;
}
.recipe-description {
    font-family: 'roboto', sans-serif;
}
.recipe-publish-info {
    display: flex;
}
.recipes-list .recipe {
    position: relative;
    width: var(--recipe-width);
    height: 350px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 8px;
    cursor: default;
}
.recipes-list .recipe-details-container {
    width: 43%;
    padding: 7% 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.recipes-list .recipe-description {
    font-size: 15px;
    color: #5a5a5a;
    font-weight: 400;
    margin-bottom: 10px;
}
.recipes-list .recipe-title {
    font-size: var(--font-size-h3);
    margin-bottom: 5px;
}
.recipes-list .recipe-publish-info p {
    font-size: 13px;
    color: #6e6e6e;
}
.recipes-list .recipe-publish-info i {
    margin-right: 2px;
}
.recipes-list .recipe .date-published {
    margin-left: 0.55em;
}
.recipe-ratings i {
    color: rgb(255, 196, 0);
}

.recipes-list .recipe-content-container {
    margin-bottom: 8px;
}

.recipes-list .recipe-ratings {
    margin-bottom: 3px;
    font-size: var(--font-size-p-small);
}

.recipes-list .recipe .image-container {
    z-index: -1;
    width: 50%;
    height: 100%;
    background: grey;
    border-radius: 8px 0 0 8px;
}

.image-container-continued {
    position: relative;
    width: 100%;
    height: inherit;
    border-radius: inherit;
}
.recipe .image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -2;
    object-fit: cover;
}
.image-container-continued::after {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    opacity: 0.3;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: 0.3s;
}

.recipes-list .recipe-tags-container {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.recipes-list .recipe-tag {
    display: inline-block;
    background: #dadada;
    padding: 0.4em 0.4em;
    border-radius: 2px;
    transition: 0.2s;
    color:#7a7a7a;
    font-size: 13px;
}
.recipes-list .recipe-tag:hover {
    background: #cfcfcf;
}

.recipes-list .button.view-recipe {
    margin-top: 20px;
    background: var(--primary-color-5);
    text-align: center;
    width: 90px;
    padding: 0.6em;
    color: white;
    font-size: 15px;
}
.recipes-list .button.view-recipe:hover {
    background-color: var(--primary-color-4);
}

.recipes-wrapper {
    display: flex;
    position: relative;
    overflow-x: hidden;
    width: 91%;
    margin: 0 auto;
}
.recipes-category .section-container > i {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: 0.5em 0.67em;
    font-size: var(--font-size-h5);
    border-radius: 50%;
    color: #5a5a5a;
    height: 20px;
    position: absolute;
    top: 55%;
}
.recipes-category .section-container .recipes-slide-right {
    right: 0px;
}
.recipes-category .section-container .recipes-slide-left {
    left: 0px;
}




/* --------------------                       -------------------- */
/* -------------------- Home page (home.html) -------------------- */
/* --------------------                       -------------------- */

/* -------------------- Hero -------------------- */

#hero {
    position: relative;
    width: 100%;
    height: 557px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}
#hero::before {
    position: absolute;
    content: '';
    background-image: url(../Images/background-images/hero.jpg);
    background-position: center;
    background-size: cover;
    z-index: -999;
    width: 100%;
    height: 100%;
}

#hero .hero-container {
    position: absolute;
    margin-left: 14%;
    width: 500px;
    color: white;
    top: 33%;
}
#hero .hero-content {
    width: 500px;
}
@media (min-width: 1800px) {
    #hero .hero-container {
        position: relative;
        width: 1300px;
        margin: 0 auto;
        display: block;
    }
    
}
@media (min-width: 1500px) {
    #hero .hero-content {
        width: 600px;
    }
}
#hero h1 {
    line-height: 1.2;
    margin-bottom: 8px;
}
#hero h6 {
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.hero-cta-buttons .button {
    background: var(--accent2-color-6);
    padding: 0.7em 1.2em;
    border-radius: 5px;
}
.hero-cta-buttons .button:hover {
    background: var(--accent2-color-5);
}

/* -------------------- Featured Recipes Section -------------------- */
.featured-recipes-list a, .featured-recipes-list .button.view-recipe {
    color: white;
}

.featured-recipes-list {
    gap: 21px;
}

.featured-recipes-list .recipe {
    width: 360px;
    position: relative;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.featured-recipes-list .recipe .image-container {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}
.featured-recipes-list .image-container-continued::after {
    opacity: 0.8;
}
.featured-recipes-list .recipe:hover .image-container-continued::after {
    opacity: 1;
}

.featured-recipes-list .recipe-content-container, 
.featured-recipes-list .recipe-tags-container, 
.featured-recipes-list .button.view-recipe,
.featured-recipes-list .recipe-ratings {
    margin: 0 10%;
    color: white;
    transition: 0.5s;
}
.featured-recipes-list .recipe-ratings {
    margin-top: 16px;
    margin-bottom: 16px;
}
.featured-recipes-list .recipe-publish-info p {
    font-size: var(--font-size-p-small);
}
.featured-recipes-list .recipe-content-container {
    transform: translateY(70px);
}
.featured-recipes-list .recipe-description {
    font-weight: 450;
    margin-bottom: 1.2em;
}
.featured-recipes-list .button.view-recipe {
    margin-bottom: 20px;
}
.featured-recipes-list .recipe-description, 
.featured-recipes-list .recipe-publish-info {
    opacity: 0;
    transition: 0.3s;
}

.featured-recipes-list .recipe:hover .recipe-content-container {
    transform: translateY(0px);
}
.featured-recipes-list .recipe:hover .recipe-description, 
.featured-recipes-list .recipe:hover .recipe-publish-info {
    opacity: 1;
    transition: 0.7s;
}

.featured-recipes-list .recipe:hover .recipe-content-container {
    margin-top: 80%;
}

.featured-recipes-list .recipe-tags-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.featured-recipes-list .recipe-tag {
    padding: 0.4em 0.5em;
    border-radius: 3px;
    background: #d4d4d4;
    color: #353535;
    transition: 0.25s;
    font-weight: 500;
}
.featured-recipes-list .recipe-tag:hover {
    background: white;
}

.featured-recipes-list .button.view-recipe {
    margin-top: 10px;
    font-size: var(--font-size-p);
    padding: 0.6em;
    margin-bottom: 30px;
    background: var(--accent2-color-5);
    width: 100px;
    text-align: center;
}
.featured-recipes-list .button.view-recipe:hover {
    background: var(--accent2-color-4);
    transition: 0.3s;
}
.featured-recipes-list .date-published {
    margin-left: 16px;
}
.featured-recipes-list .recipe-publish-info i {
    margin-right: 6px;
}

/* -------------------- Browse CTA Section -------------------- */
#recipes-category-1 {
    margin-bottom: 80px;
}
#browse-cta {
    position: relative;
    padding: 40px 0;
    padding-bottom: 140px;
    background: linear-gradient(to top, rgba(245, 245, 245, 1),rgba(245, 245, 245, 0.9), rgba(245, 245, 245, 1)), 
        url(../Images/background-images/background-4.jpg);
    background-size: cover;
    background-position: center;
}
#browse-cta .section-title .title::after {
    background: var(--accent2-color-6);
}
#browse-cta .button {
    position: absolute;
    background: var(--accent2-color-6);
    padding: 0.6em 0.8em;
    margin-top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
#browse-cta .button:hover {
    background: var(--accent2-color-5)
}

#recipes-category-3 {
    margin-bottom: 250px;
}



/* --------------------                             -------------------- */
/* -------------------- Recipes page (recipes.html) -------------------- */
/* --------------------                             -------------------- */

#breadcrumb.recipes-page::before {
    background-image: url(../Images/background-images/background-4.jpg);
}

/* -------------------- Search bar -------------------- */

.search-bar #search-values {
    display: flex;
    width: 900px;
    margin: 70px auto;
}
.search-bar #keywords-search,
.search-bar #category-search, 
.search-bar #ratings-search,
.search-bar #search-button {
    height: 60px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #7a7a7a;
    font-size: var(--font-size-p-small);
}
.search-bar #keywords-search {
    width: 550px;
    border-radius: 5px 0 0 5px;
}
.search-bar #category-search {
    width: 145px;
    margin-left: -1px;
}
.search-bar #category-search option {
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-bar #ratings-search {
    width: 100px;
    margin-left: -1px;
}
.search-bar #search-button {
    padding-left: 2em;
    padding-right: 2em;
    background-color: var(--primary-color-5);
    color: white;
    cursor: pointer;
    border-color: var(--primary-color-5);
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}


/* -------------------- Recipe Search Results -------------------- */
#search .section-container {
    padding-bottom: 200px;
}
@media (min-width: 1200px) {
    #search .section-container {
        --recipe-width: 465px;
        --recipe-width-number: 465;
    }
}
.search-results.recipes-list {
    flex-wrap: wrap;
    border-top: 1px solid #c0c0c0;
    padding-top: 50px;
    gap: 22px;
}
.search-results.recipes-list .recipe {
    margin-bottom: 20px;
    width: var(--recipe-width);
}

#search .pages-list {
    margin-top: 60px;
}
#search .pages-list ul {
    display: flex;
    margin: 0 auto;
    width: 220px;
    justify-content: space-between;
    gap: 10px;
}
#search .pages-list li {
    cursor: pointer;
    background: #dadada;
    padding: 0.5em 0.7em;
    border-radius: 1em;
    font-size: 18px;
    transition: 0.2s;
}
#search .pages-list li:hover {
    background: #c0c0c0;
}
#search .pages-list .current-search-page,
#search .pages-list .current-search-page:hover {
    background: var(--primary-color-6);
}
.search-page-changer {
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
    border-radius: 50% !important;
}


/* --------------------                             -------------------- */
/* -------------------- Contact page (contact.html) -------------------- */
/* --------------------                             -------------------- */

#breadcrumb.contact-page::before {
    background: url(../Images/background-images/background-4.jpg)
}

/* -------------------- Contact Form section -------------------- */
#contact .section-container {
    margin-top: 60px;
    margin-bottom: 90px;
}
#contact .contact-form-container {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}
#contact #contact-form {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
#contact input,
#contact textarea {
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 0.85em 0.7em;
    border-radius: 3px;
}
#contact input {
    font-size: 15px;
}
input#first-name,
input#last-name {
    width: 298px;
}
#contact textarea {
    font-size: var(--font-size-p-small);
    color: #353535;
    height: 200px;
    resize: none;
}
#contact input[type="submit"] {
    width: 200px !important;
    border-radius: 25px !important;
    margin-top: 5px;
    background: var(--primary-color-5);
    color: white;
    font-weight: 500;
    border: none !important;
    font-size: var(--font-size-p) !important;
    cursor: pointer;
    transition: 0.25s;
}
#contact input[type="submit"]:hover {
    background: var(--primary-color-4);
}

#contact .contact-info p {
    color: #353535;
    margin-bottom: 1em;
}

#contact .contact-info i {
    color: black;
    margin-right: 8px;
}

/* --------------------                            -------------------- */
/* -------------------- About Us Page (about.html) -------------------- */
/* --------------------                            -------------------- */

/* -------------------- About Us Section -------------------- */




/* -------------------- Footer -------------------- */
footer {
    background: var(--neutral-1);
}
footer .section-container {
    padding: 100px 0;
    padding-bottom: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 5%;
}
footer .footer-col {
    width: 33%;
}
footer h2 {
    font-family: 'Galada', cursive;
    margin-bottom: 1rem;
}
footer h6 {
    font-weight: 500;
}
footer p {
    line-height: 1.5;
    color: var(--neutral-9);
}

footer .pages h2,
footer .pages ul {
    margin-left: 30%;
}
footer .pages ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .pages li {
    text-align: left;
    position: relative;
}
footer .pages i {
    display: inline-block;
}
.footer-navlink {
    color: white;
    display: inline-block;
    margin-left: 7%;
    transition: 0.25s;
}
.footer-navlink:hover {
    color: var(--primary-color-7);
}

footer .contact-details {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}
footer .contact-details i {
    margin-right: 10px;
}
footer .footer-copyright-section {
    padding-bottom: 40px;
}
footer .footer-copyright-section p {
    color: #cfcfcf;
}

