@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    position: relative;
}

/* Hides number entry arrows for: Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* ---------- Header Styles ---------- */
#header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

/* Searchbar Styles */
.searchbar {
    width: 500px;
    height: 50px;
    position: relative;
    margin-left: 200px;
}
.searchbar i {
    position: absolute;
    font-size: var(--font-size-h6);
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}
input#search {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid var(--neutral-7);
    padding: 0 40px;
}
.searchbar,
input#search {
    font-size: var(--font-size-p);
}


/* Header Icons */
.page-header-right {
    margin-right: 30px;
    display: flex;
    gap: 30px;
    font-size: var(--font-size-h4);
}
#cart-button,
#add-product {
    cursor: pointer;
}
#cart-button-icon {
    position: relative;
}
#cart-button-icon.new-notif::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    z-index: 2;
    border-radius: 50%;
    display: block;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 940px) {

    .searchbar {
        margin-left: 50px;
    }

}

@media screen and (max-width: 799px) {

    .searchbar {
        margin-left: 0;
        max-width: 500px;
    }

    #header-container {
        gap: 20px;
    }

}

@media screen and (max-width: 659px) {

    .page-header-right {
        margin-right: 0px;
    }

}

@media screen and (max-width: 450px) {

    .searchbar {
        height: 40px;
    }

    input#search {
        padding: 0 40px;
    }

}

@media screen and (max-width: 379px) {

    .searchbar {
        height: 30px;
    }

    input#search {
        font-size: var(--font-size-p-small);
    }

    .searchbar i {
        font-size: var(--font-size-p-small);
    }

}



/* ---------- Add Product Window ---------- */
#add-product-popup {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    background: white;
    z-index: 999;
    width: 700px;
    height: 500px;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

    transition: opacity 0.25s, visibility 0.25s;
}


#close-add-product-popup {
    font-size: var(--font-size-h2);
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
}


.add-product-popup-container {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
}


#add-product-details-col,
#add-product-image-col {
    padding: 20px 30px;
}
#add-product-details-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-product-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-product-price {
    display: flex;
    align-content: center;
}

.add-product-entry-input {
    font-size: var(--font-size-p);
    padding: 0.3em;
}

#add-product-dollar-price,
#add-product-cents-price {
    width: 40px;
    height: 90%;
    font-size: var(--font-size-h6);
    padding: 7px;
}
#add-product-dollar-price {
    width: 50px;
}

#add-product-dollar-price {
    margin: 0 5px;
}
#add-product-cents-price {
    margin-left: 5px;
}

#submit-added-product {
    font-size: var(--font-size-h6);
    color: white;
    background: var(--primary-color-6);
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    transition: 0.25s;
    cursor: pointer;
    margin-top: 20px;
}
#submit-added-product:hover {
    background: var(--primary-color-5);
}

#add-product-img-display {
    width: 100%;
    height: 290px;
    margin-top: 30px;
}



@media screen and (max-width: 799px) {

    #add-product-popup {
        width: auto;
    }

}

@media screen and (max-width: 659px) {

    #add-product-popup {
        width: 75vw;
        max-width: 450px;
        max-height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .add-product-popup-container {
        display: flex;
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 490px) {

    #add-product-img-display {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        margin-top: 30px;
    }

}

@media screen and (max-width: 379px) {

    #add-product-popup {
        width: 90vw;
    }

}





/* ---------- Products Styles ---------- */
#products-container {
    max-width: 90vw;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 50px;
}


.product {
    margin-left: 30px;
    margin-top: 30px;
    max-height: 392px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 186px;
    object-fit: cover;
    background: black;
    border-radius: 5px 5px 0 0;
}

.product-content {
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-sale-info {
    display: flex;
    align-items: center;
    gap: 5px;
}


.product-name,
.product-price {
    font-family: var(--secondary-font);
}

.product-quantity {
    font-size: var(--font-size-p-small);
    color: var(--accent2-color-5);
}

.product-addtocart {
    background: var(--primary-color-6);
    color: white;
    font-size: var(--font-size-p);
    border: none;
    border-radius: 5px;
    padding: 0.5em 0;
    margin-top: 4px;
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 10px;
}
.product-addtocart.added-to-cart {
    background: var(--neutral-5);
    cursor: default;
}
.product-addtocart:hover {
    background: var(--primary-color-5);
}
.product-addtocart.added-to-cart:hover {
    background: var(--neutral-5);
}
.product-addtocart i {
    margin-right: 5px;
}



@media screen and (max-width: 960px) {

    #products-container {
        grid-template: auto / repeat(2, 1fr);
    }

    .product {
        max-width: 350px;
    }

}

@media screen and (max-width: 659px) {

    #products-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 330px;
    }

}

@media screen and (max-width: 426px) {

    .product {
        width: 260px;
    }

}



/* ---------- Cart Styles ---------- */
#cart-items {
    left: 100%;
    position: fixed;
    top: 0;
    width: 380px;
    height: 100%;
    z-index: 100;
    background: var(--neutral-2);
    padding: 30px;
    color: white;
    transition: 0.3s;
    
}


.cart-items-section-container {
    position: relative;
    width: 100%;
    height: 100%;
}
#close-cart-items-btn {
    font-size: var(--font-size-h3);
    cursor: pointer;
    display: inline-block;
}
.cart-items-header {
    color: white;
    font-family: var(--secondary-font);
    text-align: center;
    margin-bottom: 30px;
}


#cart-items-list {
    display: flex;
    flex-direction: column;
    height: 347px;
    width: 100%;
    gap: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: white;
}
.cart-item-left,
.cart-item-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-image {
    background: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    object-fit: cover;
}
.cart-item-name {
    font-family: var(--secondary-font);
}

.cart-item-quantity-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-item-quantity-container i {
    color: black;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

#cart-summary {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
#purchase-cart-items {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    font-size: var(--font-size-h6);
    color: white;
    background: var(--primary-color-6);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
#purchase-cart-items i {
    margin-right: 5px;
}



@media screen and (max-width: 549px) {

    #cart-items {
        min-width: 300px;
        width: 75vw;
    }

    #cart-items-list {
        overflow-x: auto;
    }

}