#article .section-container.first-section {
    padding-top: calc(var(--page-start-margin) + 16px);
}

#mod-article {
    max-width: 750px;
}

#article-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#article-top #article-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    cursor: default;
}
#article-top #article-tags .tag {
    background: var(--white-dark);
    padding: 6px 8px;
    border-radius: 4px;
}
#article-top #article-tags .mod-tags p {
    font-size: var(--font-size-p-small);
    color: var(--neutral-gray-dark);
}

#article-top #publish-info {
    display: flex;
    gap: 12px;
    align-items: center;
}
#article-top #publish-info > * {
    color: var(--neutral-gray);
}
#article-top #publish-info .separator {
    width: 1px;
    height: var(--font-size-p);
    background: var(--neutral-gray);
}
#article-top #publish-info i {
    color: var(--neutral-gray);
}

#article-top #mod-update-date-container p,
#article-top #mod-update-date-container p span {
    color: var(--neutral-gray);
}

#article-top #article-image {
    margin-top: 16px;
    width: 100%;
}

#article-top #article-image img {
    aspect-ratio: calc(750/450);
    width: inherit;
    object-fit: cover;
}



#article-content {
    margin-top: 48px;
}
#article-content .subheader {
    margin-top: 32px
}
#article-content .paragraph {
    margin-top: 16px;
    line-height: 1.6;
}
#article-content .list {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#article-content .small-images img,
#article-content > img {
    display: block;
}
#article-content > img,
#article-content .small-images {
    margin-top: 24px;
    margin-bottom: 24px;
}
#article-content .small-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
#article-content .small-images img {
    aspect-ratio: calc(5/3);
    width: 100%;
    object-fit: cover;
    min-width: 200px;
}
#article-content > img {
    aspect-ratio: calc(5/3);
    width: 100%;
    object-fit: cover;
}
#article-content .youtube-embed {
    width: 100%;
    margin-top: 24px;
}
#article-content .youtube-embed iframe {
    aspect-ratio: calc(4/3);
    width: 100%;
    max-width: 500px;
}
#article-content .downloads-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#article-content .download-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#article-content .download-item a {
    width: max-content;
}
#article-content .drive-download-btn {
    font-size: var(--font-size-p-small);
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 12px;
    background: var(--secondary-color-light);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#article-content .drive-download-btn svg {
    width: var(--font-size-h6);
    height: var(--font-size-h6);
}

@media screen and (max-width: 770px) {
    #article-content .small-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 488px) {
    #article-content .small-images {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    #article-content .small-images img {
        aspect-ratio: calc(5/3);
    }
}

@media screen and (max-width: 350px) {
    #article-top #article-title {
        font-size: var(--font-size-h5);
    }
    #article-top #article-tags .tag p,
    #article-top #publish-info *,
    #article-top #mod-update-date-container * {
        font-size: var(--font-size-p-small);
    }
    #article-top #publish-info .separator {
        height: var(--font-size-p-small);
    }

    #article-content .subheader {
        font-size: var(--font-size-h6);
    }
    #article-content .paragraph,
    #article-content .list li {
        font-size: var(--font-size-p-small);
    }
    #article-content .paragraph {
        line-height: 1.7;
    }
}