#article .section-container.first-section {
    padding-top: calc(var(--page-start-margin) + 16px);
}

article {
    max-width: 625px;
}

article p .bold,
article li .bold {
    color: var(--secondary-color-light);
}
article.mod-article p .bold,
article.mod-article li .bold {
    color: var(--primary-color-medium);
}
article p .bold.black,
article li .bold.black {
    color: var(--black);
}

article a.extlink {
    color: var(--secondary-color-light);
    text-decoration: underline;
}
article.mod-article a.extlink {
    color: var(--primary-color-medium);
}


#article-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#article-top #article-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    cursor: default;
}
#article-top #article-tags .tag {
    background: var(--white-dark);
    padding: 6px 8px;
    border-radius: 4px;
}
#article-top #article-tags .mod-tags p {
    font-size: var(--font-size-p-small);
    color: var(--neutral-gray-dark);
}

#article-top #publish-info {
    display: flex;
    gap: 12px;
    align-items: center;
}
#article-top #publish-info > * {
    color: var(--neutral-gray);
}
#article-top #publish-info .separator {
    width: 1px;
    height: var(--font-size-p);
    background: var(--neutral-gray);
}
#article-top #publish-info i {
    color: var(--neutral-gray);
}

#article-top #update-date-container p,
#article-top #update-date-container p span {
    color: var(--neutral-gray);
}

#article-top #article-image {
    margin-top: 16px;
    width: 100%;
}

#article-top #article-image img {
    aspect-ratio: calc(750/450);
    width: inherit;
    object-fit: cover;
}


#article-content {
    margin-top: 48px;
}
#article-content .subheader {
    margin-top: 32px;
    color: var(--primary-color-medium);
} 
article.mod-article #article-content .subheader {
    color: var(--black);
}
#article-content .paragraph {
    margin-top: 16px;
    line-height: 1.6;
}
#article-content .list {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#article-content .small-images img,
#article-content .small-vertical-images img,
#article-content > img {
    display: block;
}
#article-content > img,
#article-content .small-images,
#article-content .small-vertical-images img {
    margin-top: 24px;
    margin-bottom: 24px;
}
#article-content .small-images,
#article-content .small-vertical-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
#article-content .small-vertical-images {
    grid-template-columns: repeat(3, 1fr);
}
#article-content .small-images img,
#article-content .small-vertical-images img {
    width: 100%;
    object-fit: cover;
    min-width: 200px;
}
#article-content .small-images img {
    aspect-ratio: calc(2.5/3);
}
#article-content .small-vertical-images img {
    aspect-ratio: calc(2.5/5);
    min-width: 160px;
}



#article-content .image-list {
    aspect-ratio: 5/3;
    max-width: 625px;
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
}

#article-content .image-list img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#article-content .imglist-overlay {
    aspect-ratio: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(var(--black-hsl), 0.0);
    opacity: 0.5;
    transition: 0.25s;
}

#article-content .imglist-overlay-buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

#article-content .imglist-overlay-buttons > button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: hsla(var(--black-hsl), 0.7);
}
#article-content .imglist-overlay-buttons > button > * {
    padding-bottom: 4px;
    font-size: var(--font-size-h3);
    color: var(--white);
}

#article-content .imglist-overlay-bottom {
    position: absolute;
    bottom: 0;
    background: hsla(var(--black-hsl), 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.25s;
}
#article-content .imglist-overlay-bottom * {
    color: white;
}
#article-content .imglist-overlay-bottom .imglist-overlay-img-num {
    padding: 16px 0;
    text-align: center;
}
#article-content .imglist-overlay-bottom .img-num-current {
    margin-right: 4px;
}
#article-content .imglist-overlay-bottom .img-num-total {
    margin-left: 4px;
}

#article-content .image-list button.img-scroll {
    transition: 0.25s;
}
#article-content .image-list.start button.img-scroll.l-btn,
#article-content .image-list.end button.img-scroll.r-btn {
    opacity: 0;
    cursor: default;
}

#article-content .imglist-overlay-bottom .imglist-overlay-img-expand {
    position: absolute;
    right: 24px;
    font-size: var(--font-size-h5);
    cursor: pointer;
    display: none;
}

#article-content .image-list:hover .imglist-overlay {
    opacity: 1;
    background: hsla(var(--black-hsl), 0.1);
}
#article-content .image-list:hover .imglist-overlay-bottom {
    opacity: 1;
}



#article-content .image {
    aspect-ratio: calc(5/3);
    width: 100%; 
    max-width: 625px;
    object-fit: cover;
}
#article-content .youtube-embed {
    width: 100%;
    margin-top: 24px;
}
#article-content .youtube-embed iframe {
    aspect-ratio: calc(5/3);
    width: 100%;
    max-width: 625px;
}
#article-content .downloads-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#article-content .download-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#article-content .download-item a {
    width: max-content;
}
#article-content .drive-download-btn {
    font-size: var(--font-size-p-small);
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 8px 12px;
    background: var(--secondary-color-light);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#article-content .drive-download-btn svg {
    width: var(--font-size-h6);
    height: var(--font-size-h6);
}



/* ============= WIP =============

#imageListFloat {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: hsla(var(--black-hsl), 0.5);
    z-index: 999;
    opacity: 1;
}

#imageListFloat .image-list {
    position: relative;
    aspect-ratio: unset;
    max-width: 800px;
    width: 90vw;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#imageListFloat .image-list .imglist-overlay,
#imageListFloat .image-list:hover .imglist-overlay {
    height: 100%;
    background: transparent;
}

#imageListFloat .image-list .imglist-overlay-bottom {
    top: 100%;
    height: max-content;
    opacity: 1;
}

 ============= WIP END ============= */


@media screen and (max-width: 568px) {
    #article-content .small-vertical-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 488px) {
    #article-content .small-images {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    #article-content .small-images img {
        aspect-ratio: calc(5/3);
    }
}

@media screen and (max-width: 400px) {
    #article-content .image-list .imglist-overlay-img-num {
        padding: 12px 0;
        text-align: center;
    }

    #article-content .image-list .imglist-overlay-img-expand {
        font-size: var(--font-size-h6);
    }
}

@media screen and (max-width: 396px) {
    #article-content .small-vertical-images {
        display: flex;
        flex-direction: column;
        max-width: 196px;
        gap: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #article-content .small-vertical-images img {
        margin-top: 0;
        margin-bottom: 0;
    }
}


@media screen and (max-width: 350px) {
    #article-top #article-title {
        font-size: var(--font-size-h5);
    }
    #article-top #article-tags .tag p,
    #article-top #publish-info *,
    #article-top #update-date-container * {
        font-size: var(--font-size-p-small);
    }
    #article-top #publish-info .separator {
        height: var(--font-size-p-small);
    }

    #article-content .subheader {
        font-size: var(--font-size-h6);
    }
    #article-content .paragraph,
    #article-content .list li {
        font-size: var(--font-size-p-small);
    }
    #article-content .paragraph {
        line-height: 1.7;
    }

    #article-content .image-list .imglist-overlay-img-num * {
        font-size: var(--font-size-p-small);
    }
}