#hero {
    background-image: var(--banner-gradient), url('../../../images/pageEssentials/a350sunsetlanding.jpg');
    max-height: 70vh;
}

#hero .section-container,
#hero .section-container > *,
#hero .page-banner-text > * {
    background: transparent;
    color: var(--white);
}

@media screen and (max-width: 420px) {
    #hero {
        max-height: 50vh;
    }
}



